{% extends "./components/base.html" %}

{% block head %}
  {% if not consent_missing and enable_recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
      function onResetForm(token) {
        document.getElementById("resetForm").submit();
      }
    </script>
  {% endif %}

  <title>FDW-Assessment Reset</title>
{% endblock %}


{% block content %}
  <div class="container-md p-3" style="margin-bottom: 5em;">

    <div class="container justify-content-center text-center border-bottom mb-3">
      <h1>Willkommen beim FDW-Assessment Physik</h1>
    </div>

    <br style="clear:both;"/>

    <h2>Account zurücksetzen</h2>

    <form id="resetForm" method="POST" action="">
      {{ form.hidden_tag() }}

      <div class="form-group row mt-1">
        <label for="reset_code" class="col-md-2 col-form-label">Reset-Code</label>
        <div class="col-sm-5">
          {{ form.reset_code(class_="form-control") }}
        </div>
      </div>

      <div class="py-1"></div>

      <div class="form-group row mt-1">
        <label for="username" class="col-md-2 col-form-label">Benutzername</label>
        <div class="col-sm-5">
          {{ form.username(class_="form-control") }}
        </div>
      </div>
      <div class="form-group row mt-1">
        <label for="password" class="col-md-2 col-form-label">Passwort</label>
        <div class="col-sm-5">
          {{ form.password(class_="form-control") }}
        </div>
      </div>
      {% if not consent_missing %}
        <div class="form-group row mt-1">
          <div class="col-md-2"></div>
          <div class="col-sm-5">
            {% if enable_recaptcha %}
              <button
                type="submit"
                class="g-recaptcha btn btn-primary"
                data-sitekey="{{ recaptcha_site_key }}"
                data-callback='onResetForm'
                data-action='submit'
              >
                Ok
              </button>
            {% else %}
              <button
                type="submit"
                class="btn btn-primary"
              >
                Ok
              </button>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </form>

    {% include "./components/form_errors.html" %}

    {% include "./components/alert_recaptcha.html" %}

    {% if user_updated %}
      <div class="bg-success my-3 p-2 rounded text-center">
        <span>Accountdaten überschrieben. <a href="{{ url_for('auth_interface.login') }}">Einloggen</a></span>
      </div>
    {% endif %}

    {% if token_invalid %}
      <div class="bg-danger my-3 p-2 rounded text-center">
        <span>Der Reset-Code ist ungültig.</span>
      </div>
    {% endif %}

    {% if token_expired %}
      <div class="bg-danger my-3 p-2 rounded text-center">
        <span>Der Reset-Code ist abgelaufen.</span>
      </div>
    {% endif %}

    {% if user_already_exists %}
      <div class="bg-danger my-3 p-2 rounded text-center">
        <span>Dieser Benutzername ist bereits bei einem anderen Account, der nicht mit Ihrer E-Mail Adresse verknüpft ist, in Verwendung.</span>
      </div>
    {% endif %}

    <div class="my-3">
      <span>Kein Account? <a href="{{ url_for('signup_interface.signup') }}">Registrieren</a></span>.
    </div>

  </div>
{% endblock %}
