<p>
  Diese Webseite dient als (Selbst-) Assessment Ihres Fachdidaktischen Wissens (FDW). FDW beschreibt spezifisches Wissen über die Vermittlung von bestimmtem Fachwissen an Lernende. FDW ist dementsprechend fach- und sogar inhaltsspezifisch. Der in diesem Assessment zum Einsatz kommende Fragebogen zum FDW fokussiert das Fach Physik und genauer den Inhaltsbereich der klassischen Mechanik.
</p>

<p>
  Damit Sie das Testinstrument zeitlich flexibel bearbeiten und ihre Ergebnisse flexibel einsehen können, haben wir ein Nutzer-Account System implementiert. Sie können sich mit einem Nutzernamen und einem Passwort einen Account erstellen. Zusätzlich bitten wir Sie, eine E-Mail Adresse anzugeben. Wir empfehlen Ihnen aus Gründen der Anonymisierung einen Nutzernamen zu wählen, der keine Rückschlüsse auf Ihre Person zulässt. Weitere Informationen zur Anonymisierung, zum Datenschutz und insbesondere zur Verschlüsselung Ihrer E-Mail Adresse können sie den <a href="{{ url_for('index_interface.about') }}">Datenschutzhinweisen</a> entnehmen.
</p>

<p>
  Das Assessment verwendet ein automatisiertes Machine Learning Modell, um Ihnen schnell und effizient eine Rückmeldung bieten zu können. Dieses Modell wurde auf Basis eines bestehenden Datensatzes von Bearbeitungen des verwendeten Testinstruments entwickelt. Bitte beachten Sie bei der Bewertung und Interpretation Ihrer etwaigen Rückmeldung Folgendes: Ein Modell wie das hier verwendete kann, insbesondere bei nur vergleichsweise wenig verfügbaren Daten für das "Training", nur Hinweise und Tendenzen liefern. Sie sollten sich die Ergebnisse also ggf. nicht zu sehr zu Herzen nehmen, wenn Sie z. B. nicht Ihrer eigenen Leistungserwartung entsprechen. Nutzen Sie das Feedback primär um Hinweise auf mögliche Entwicklungspotenziale zu erhalten.
</p>
